
<a class="tab" mat-flat-button [routerLink]="'/search'"> 
  <mat-icon class="imaterial-icons" id="querybtn">arrow_back_ios</mat-icon>
    <span  class="label">Query</span>
</a>

<div class="chart-container" style="position: relative; width:60vw">
    <canvas id="articleCanvas"></canvas>
    <br><br>
    <canvas id="eventCanvas"></canvas>
    <br><br>
    <canvas id="cameoCanvas"></canvas>
    <br><br>
    <canvas id="actorsCanvas"></canvas>
    <br><br>
  <h2 id="chartLoading">Top Ten Actor chart is loading ...</h2>
    <canvas id="toneCanvas"></canvas>
    <br><br>
</div>


    